<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  Per Night:
  <%= @listing.night_fee.format %>
</p>

<%= form_with(model: @booking, local: true) do |form| %>
  <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
        <% @booking.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.submit 'Book', class: 'wide btn btn-warning' %>

  <%= form.hidden_field :listing_id %>
  <%= form.hidden_field :guest_id %>

  <div class="field">
    <%= form.label :check_in_at %>
    <%= form.date_field :check_in_at %>
  </div>

  <div class="field">
    <%= form.label :check_out_at %>
    <%= form.date_field :check_out_at %>
  </div>

  <div class="field">
    <%= form.label :guest_count %>
    <%= form.number_field :guest_count %>
  </div>

<% end %>


<p>
  <strong>Street address:</strong>
  <%= @listing.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @listing.country.name %>
</p>

<p>
  <strong>Coords:</strong>
  <%= @listing.latitude %>, <%= @listing.longitude %>
</p>

<p>
  <strong>Bed count:</strong>
  <%= @listing.bed_count %>
</p>

<p>
  <strong>Bedroom count:</strong>
  <%= @listing.bedroom_count %>
</p>

<p>
  <strong>Bathroom count:</strong>
  <%= @listing.bathroom_count %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Cleaning fee:</strong>
  <%= @listing.cleaning_fee.format %>
</p>

<%= button_to 'Messages', conversations_path(listing: @listing, method: :post), class: 'btn btn-warning' %>
<%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-warning' %>
<%= link_to 'Back', listings_path, class: 'btn btn-success' %>
