<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @booking.listing.title %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @booking.guest.email %>
</p>

<p>
  <strong>Check in at:</strong>
  <%= @booking.check_in_at %>
</p>

<p>
  <strong>Check out at:</strong>
  <%= @booking.check_out_at %>
</p>

<p>
  <strong>Guest count:</strong>
  <%= @booking.guest_count %>
</p>

<p>
  <strong>Charge identifier:</strong>
  <%= @booking.charge_identifier %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking), class: 'btn btn-warning' %>
<%= link_to 'Back', bookings_path, class: 'btn btn-success'  %>
